.navbar-nav > li{

    margin-left:50px;
    margin-right:60px;
    font-size: large;

}

.bold{
   font-weight: bold;
}
body {
  background-image: url("/images/party.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;
}

.login {
  max-width: 400px;
  margin: auto;
  background-color: rgba(24, 147, 163, 0.331);
  padding: 30px;
  border: transparent solid 2px;
  border-radius: 20px;

}

.color{
 color:white;
 font-weight: bold;
 font-size: large;
}


.user {
  max-width: 800px;
  min-height:600px;
  margin: auto;
  background-color: rgb(216, 163, 198);
  padding: 30px;
  border: transparent solid 3px;
  border-radius: 20px;
}

#ml{
 margin-left: 70px;
}
.activity {
  max-width: 500px;
  margin: auto;
  background-color: rgb(216, 163, 198);
  padding: 30px;
  border: transparent solid 3px;
  border-radius: 20px;
}


form.signup,
form.login {
  margin-top: 50px;
}

.activities-card {
  width: 100%;
}

.activities {
  width: 100%;
}

footer {
  text-align: center;
  background-color: black;
}

#map {
  height: 400px;
  width: 100%;
  background-color: grey;
}


