form.signup,
form.login {
  margin-top: 50px;
}

.activities-card {
  width: 100%;
}

.activities {
  width: 100%;
}

footer {
  text-align: center;
  background-color: black;
}

#map {
  height: 400px;
  width: 100%;
  background-color: grey;
}
